GrammarInfo {
    url: None,
    name: Identifier("Calculator", 8..17),
    extensions: [],
    imports: {},
    exports: [],
    rules: {
        "Expression": GrammarRule {
            name: Identifier("Expression", 37..46),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: true,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("Add", 54..56),
                    ),
                    remark: false,
                    body: RuleReference {
                        name: Identifier("Add", 54..56),
                        boxed: false,
                        inline: false,
                    },
                },
            },
            range: 25..58,
        },
        "Add": GrammarRule {
            name: Identifier("Add", 66..68),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Mul", 72..74),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Mul", 72..74),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("Add2", 76..79),
                                        ),
                                        remark: false,
                                        body: RuleReference {
                                            name: Identifier("Add2", 76..79),
                                            boxed: false,
                                            inline: false,
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 60..82,
        },
        "Add2": GrammarRule {
            name: Identifier("Add2", 90..93),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("OP_ADD", 97..102),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("OP_ADD", 97..102),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Mul", 104..106),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Mul", 104..106),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("Add2", 108..111),
                                        ),
                                        remark: false,
                                        body: RuleReference {
                                            name: Identifier("Add2", 108..111),
                                            boxed: false,
                                            inline: false,
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 84..114,
        },
        "Mul": GrammarRule {
            name: Identifier("Mul", 122..124),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Pow", 128..130),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Pow", 128..130),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("Mul2", 132..135),
                                        ),
                                        remark: false,
                                        body: RuleReference {
                                            name: Identifier("Mul2", 132..135),
                                            boxed: false,
                                            inline: false,
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 116..138,
        },
        "Mul2": GrammarRule {
            name: Identifier("Mul2", 146..149),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("OP_MUL", 153..158),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("OP_MUL", 153..158),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Pow", 160..162),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Pow", 160..162),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("Mul2", 164..167),
                                        ),
                                        remark: false,
                                        body: RuleReference {
                                            name: Identifier("Mul2", 164..167),
                                            boxed: false,
                                            inline: false,
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 140..170,
        },
        "Pow": GrammarRule {
            name: Identifier("Pow", 178..180),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ChoiceExpression {
                        branches: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: ConcatExpression {
                                    sequence: [
                                        YggdrasilExpression {
                                            tag: Some(
                                                Identifier("Atom", 188..191),
                                            ),
                                            remark: false,
                                            body: RuleReference {
                                                name: Identifier("Atom", 188..191),
                                                boxed: false,
                                                inline: false,
                                            },
                                        },
                                        YggdrasilExpression {
                                            tag: None,
                                            remark: false,
                                            body: IGNORED,
                                        },
                                        YggdrasilExpression {
                                            tag: Some(
                                                Identifier("OP_POW", 193..198),
                                            ),
                                            remark: false,
                                            body: RuleReference {
                                                name: Identifier("OP_POW", 193..198),
                                                boxed: false,
                                                inline: false,
                                            },
                                        },
                                        YggdrasilExpression {
                                            tag: None,
                                            remark: false,
                                            body: IGNORED,
                                        },
                                        YggdrasilExpression {
                                            tag: Some(
                                                Identifier("Pow", 200..202),
                                            ),
                                            remark: false,
                                            body: RuleReference {
                                                name: Identifier("Pow", 200..202),
                                                boxed: false,
                                                inline: false,
                                            },
                                        },
                                    ],
                                },
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Atom", 206..209),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Atom", 206..209),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 172..211,
        },
        "Atom": GrammarRule {
            name: Identifier("Atom", 219..222),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("Number", 230..235),
                    ),
                    remark: false,
                    body: RuleReference {
                        name: Identifier("Number", 230..235),
                        boxed: false,
                        inline: false,
                    },
                },
            },
            range: 213..237,
        },
        "OP_ADD": GrammarRule {
            name: Identifier("OP_ADD", 251..256),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: false,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilText {
                        text: "+",
                        insensitive: false,
                        range: 259..261,
                    },
                },
            },
            range: 251..261,
        },
        "OP_MUL": GrammarRule {
            name: Identifier("OP_MUL", 267..272),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: false,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilText {
                        text: "*",
                        insensitive: false,
                        range: 275..277,
                    },
                },
            },
            range: 267..277,
        },
        "OP_POW": GrammarRule {
            name: Identifier("OP_POW", 283..288),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: false,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilText {
                        text: "^",
                        insensitive: false,
                        range: 291..293,
                    },
                },
            },
            range: 283..293,
        },
        "Number": GrammarRule {
            name: Identifier("Number", 446..451),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[+-]?(0|[1-9][0-9]*)",
                        span: 459..480,
                    },
                },
            },
            range: 418..482,
        },
        "Integer": GrammarRule {
            name: Identifier("Integer", 512..518),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "0|[1-9][0-9]*",
                        span: 526..540,
                    },
                },
            },
            range: 484..542,
        },
        "WhiteSpace": GrammarRule {
            name: Identifier("WhiteSpace", 678..687),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: true,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[\\p{WhiteSpace}]",
                        span: 695..710,
                    },
                },
            },
            range: 665..712,
        },
    },
    token_sets: {},
    functions: {},
}