GrammarInfo {
    url: None,
    name: Identifier("Calculator", 8..17),
    extensions: [],
    imports: {},
    exports: [],
    rules: {
        "Expression": GrammarRule {
            name: Identifier("Expression", 37..46),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: true,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("Add", 54..56),
                    ),
                    remark: false,
                    body: RuleReference {
                        name: Identifier("Add", 54..56),
                        boxed: false,
                        inline: false,
                    },
                },
            },
            range: 25..58,
        },
        "Add": GrammarRule {
            name: Identifier("Add", 66..68),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("lhs", 76..78),
                    ),
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Add", 80..82),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Add", 80..82),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: None,
                                        remark: false,
                                        body: ConcatExpression {
                                            sequence: [
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: YggdrasilText {
                                                        text: "+",
                                                        insensitive: false,
                                                        range: 85..87,
                                                    },
                                                },
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: IGNORED,
                                                },
                                                YggdrasilExpression {
                                                    tag: Some(
                                                        Identifier("rhs", 89..91),
                                                    ),
                                                    remark: false,
                                                    body: RuleReference {
                                                        name: Identifier("Mul", 93..95),
                                                        boxed: false,
                                                        inline: false,
                                                    },
                                                },
                                            ],
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 60..99,
        },
        "Mul": GrammarRule {
            name: Identifier("Mul", 107..109),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("lhs", 117..119),
                    ),
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Mul", 121..123),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Mul", 121..123),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: None,
                                        remark: false,
                                        body: ConcatExpression {
                                            sequence: [
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: YggdrasilText {
                                                        text: "*",
                                                        insensitive: false,
                                                        range: 126..128,
                                                    },
                                                },
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: IGNORED,
                                                },
                                                YggdrasilExpression {
                                                    tag: Some(
                                                        Identifier("rhs", 130..132),
                                                    ),
                                                    remark: false,
                                                    body: RuleReference {
                                                        name: Identifier("Pow", 134..136),
                                                        boxed: false,
                                                        inline: false,
                                                    },
                                                },
                                            ],
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 101..140,
        },
        "Pow": GrammarRule {
            name: Identifier("Pow", 148..150),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("lhs", 159..161),
                                        ),
                                        remark: false,
                                        body: ConcatExpression {
                                            sequence: [
                                                YggdrasilExpression {
                                                    tag: Some(
                                                        Identifier("Atomic", 163..168),
                                                    ),
                                                    remark: false,
                                                    body: RuleReference {
                                                        name: Identifier("Atomic", 163..168),
                                                        boxed: false,
                                                        inline: false,
                                                    },
                                                },
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: IGNORED,
                                                },
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: YggdrasilText {
                                                        text: "^",
                                                        insensitive: false,
                                                        range: 170..172,
                                                    },
                                                },
                                            ],
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("rhs", 176..178),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Pow", 180..182),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 142..184,
        },
        "Atomic": GrammarRule {
            name: Identifier("Atomic", 192..197),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("Number", 205..210),
                    ),
                    remark: false,
                    body: RuleReference {
                        name: Identifier("Number", 205..210),
                        boxed: false,
                        inline: false,
                    },
                },
            },
            range: 186..212,
        },
        "Number": GrammarRule {
            name: Identifier("Number", 363..368),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[+-]?(0|[1-9][0-9]*)",
                        span: 376..397,
                    },
                },
            },
            range: 335..399,
        },
        "Integer": GrammarRule {
            name: Identifier("Integer", 429..435),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "0|[1-9][0-9]*",
                        span: 443..457,
                    },
                },
            },
            range: 401..459,
        },
        "WhiteSpace": GrammarRule {
            name: Identifier("WhiteSpace", 595..604),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: true,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[\\p{WhiteSpace}]",
                        span: 612..627,
                    },
                },
            },
            range: 582..629,
        },
    },
    token_sets: {},
    functions: {},
}