GrammarInfo {
    url: None,
    name: Identifier("Calculator", 8..17),
    extensions: [],
    imports: {},
    exports: [],
    rules: {
        "Expression": GrammarRule {
            name: Identifier("Expression", 37..46),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: true,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("Add", 54..56),
                    ),
                    remark: false,
                    body: RuleReference {
                        name: Identifier("Add", 54..56),
                        boxed: false,
                        inline: false,
                    },
                },
            },
            range: 25..58,
        },
        "Add": GrammarRule {
            name: Identifier("Add", 66..68),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Mul", 72..74),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Mul", 72..74),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("Add2", 76..79),
                                        ),
                                        remark: false,
                                        body: RuleReference {
                                            name: Identifier("Add2", 76..79),
                                            boxed: false,
                                            inline: false,
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 60..82,
        },
        "Add2": GrammarRule {
            name: Identifier("Add2", 90..93),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: YggdrasilText {
                                    text: "+",
                                    insensitive: false,
                                    range: 97..99,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Mul", 101..103),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Mul", 101..103),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Add2", 105..108),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Add2", 105..108),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 84..110,
        },
        "Mul": GrammarRule {
            name: Identifier("Mul", 118..120),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Pow", 124..126),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Pow", 124..126),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: Some(
                                            Identifier("Mul2", 128..131),
                                        ),
                                        remark: false,
                                        body: RuleReference {
                                            name: Identifier("Mul2", 128..131),
                                            boxed: false,
                                            inline: false,
                                        },
                                    },
                                    operators: [
                                        Optional,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 112..134,
        },
        "Mul2": GrammarRule {
            name: Identifier("Mul2", 142..145),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: YggdrasilText {
                                    text: "*",
                                    insensitive: false,
                                    range: 149..151,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Pow", 153..155),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Pow", 153..155),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Mul2", 157..160),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Mul2", 157..160),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 136..162,
        },
        "Pow": GrammarRule {
            name: Identifier("Pow", 170..172),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ChoiceExpression {
                        branches: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: ConcatExpression {
                                    sequence: [
                                        YggdrasilExpression {
                                            tag: Some(
                                                Identifier("Atom", 180..183),
                                            ),
                                            remark: false,
                                            body: RuleReference {
                                                name: Identifier("Atom", 180..183),
                                                boxed: false,
                                                inline: false,
                                            },
                                        },
                                        YggdrasilExpression {
                                            tag: None,
                                            remark: false,
                                            body: IGNORED,
                                        },
                                        YggdrasilExpression {
                                            tag: None,
                                            remark: false,
                                            body: YggdrasilText {
                                                text: "^",
                                                insensitive: false,
                                                range: 185..187,
                                            },
                                        },
                                        YggdrasilExpression {
                                            tag: None,
                                            remark: false,
                                            body: IGNORED,
                                        },
                                        YggdrasilExpression {
                                            tag: Some(
                                                Identifier("Pow", 189..191),
                                            ),
                                            remark: false,
                                            body: RuleReference {
                                                name: Identifier("Pow", 189..191),
                                                boxed: false,
                                                inline: false,
                                            },
                                        },
                                    ],
                                },
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Atom", 195..198),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Atom", 195..198),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 164..200,
        },
        "Atom": GrammarRule {
            name: Identifier("Atom", 208..211),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: Some(
                        Identifier("Number", 219..224),
                    ),
                    remark: false,
                    body: RuleReference {
                        name: Identifier("Number", 219..224),
                        boxed: false,
                        inline: false,
                    },
                },
            },
            range: 202..226,
        },
        "Number": GrammarRule {
            name: Identifier("Number", 377..382),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[+-]?(0|[1-9][0-9]*)",
                        span: 390..411,
                    },
                },
            },
            range: 349..413,
        },
        "Integer": GrammarRule {
            name: Identifier("Integer", 443..449),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "0|[1-9][0-9]*",
                        span: 457..471,
                    },
                },
            },
            range: 415..473,
        },
        "WhiteSpace": GrammarRule {
            name: Identifier("WhiteSpace", 609..618),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: true,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[\\p{WhiteSpace}]",
                        span: 626..641,
                    },
                },
            },
            range: 596..643,
        },
    },
    token_sets: {},
    functions: {},
}